.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/pexelsphoto3393444.jpeg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-text-1 {
  font-family: Ubuntu, sans-serif;
  font-size: 2.25rem;
  margin: 219px 0 0 648px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  line-height: 1.8;
  font-size: 0.875rem;
  margin: 24px 0 0 759px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px 0 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 448px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 228px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 183px;
    margin-left: 48px;
    font-size: 1.5;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 302px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 408px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-1 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  width: 92px;
  margin: 15px auto 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 427px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  width: 67px;
  margin: 15px auto 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 408px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-image-3 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 15px 95px 0 110px;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-2 .u-image-1 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 69px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-2 .u-image-2 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: -8px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-2 .u-image-3 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 61px;
    margin-left: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 49px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 24px;
    margin-left: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 385px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 385px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 385px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 343px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 72px 40px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  letter-spacing: 0px;
  margin: 20px 40px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 0 30px;
}

.u-section-4 .u-image-1 {
  width: 251px;
  height: 238px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-image-2 {
  min-height: 313px;
  background-image: url("images/photo-1582146789073-ab04c210e9de.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 643px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-image-3 {
  height: 408px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 643px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0 30px 30px;
}

.u-section-4 .u-group-1 {
  width: 404px;
  min-height: 268px;
  margin: 70px auto 0 -132px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 655px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-4 .u-image-2 {
    min-height: 258px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 530px;
  }

  .u-section-4 .u-image-3 {
    height: 336px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 530px;
  }

  .u-section-4 .u-group-1 {
    width: 371px;
    min-height: 270px;
    margin-top: 33px;
    margin-left: -156px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-left: 0;
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-4 .u-image-1 {
    width: 608px;
    height: 372px;
    object-position: 50% 20.47%;
    background-position: 50% 20.47%;
  }

  .u-section-4 .u-image-2 {
    min-height: 459px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    height: 425px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 330px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-3 {
    height: 503px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-4 .u-group-1 {
    width: 404px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-4 .u-image-1 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    min-height: 239px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 433px;
  }

  .u-section-4 .u-image-3 {
    height: 317px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 330px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 554px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 551px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 168px 25px 0 -25px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 70px auto 0 45px;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 551px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-image-1 {
  width: 113px;
  height: 113px;
  background-image: url("images/e68b7c0a6021168ee19cfdd9702fce7b6eae6ac4f7140e1ff467c6444c63af22b978554543d9481228a31cf39aac46a021b9d539c3448e00ab9e4e_1280.jpg");
  background-position: 50% 50%;
  margin: 22px auto 0 10px;
}

.u-section-5 .u-image-2 {
  width: 116px;
  height: 116px;
  background-image: url("images/db409d57b8100de66cdeed176c1f1c164d6cd1297dab998b01e5efab739bed5a22643d93dfcb4735f64faf106f6d9f768e60ba1ed763df344ac9fb_1280.jpg");
  background-position: 50% 50%;
  margin: 44px 82px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 111px;
  height: 111px;
  background-image: url("images/1a223a7c91c38383a360c6d13bbbb09ad641a352fcd8df012cc32d318f97e025a1a602d92092a34b20d42efe6e0bcedc5f5261ab0d31471d3ee0c7_1280.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0 22px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 551px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-image-4 {
  width: 125px;
  height: 125px;
  background-image: url("images/b39ae081a4a4abfb1c52cb89e20964d212ff44cf50c102ff345afe73f1b4080651260dc6ce2c1c23a03b7e3c115cd91c4fce009e5b1fbed147ba82_1280.jpg");
  background-position: 50% 50%;
  margin: 22px auto 0 205px;
}

.u-section-5 .u-image-5 {
  width: 128px;
  height: 128px;
  background-image: url("images/9291e060e4b37ff35fcf51936aec78318b02bcda5016b4fbe11fe7cb0f74425a06d3b3e1c45728dd7dfe46c956179c51cc9d4a9240a667b7eb419d_1280.jpg");
  background-position: 50% 50%;
  margin: 32px auto 0 34px;
}

.u-section-5 .u-image-6 {
  width: 113px;
  height: 113px;
  background-image: url("images/4980a52ae19b0f2e2fcba73bf11cad2e3f12fae86f62f3ef11c4699eede34678f4fedffd1e114568a762763043c4ffa1be5d73af6b78eea6d5b551_1280.jpg");
  background-position: 50% 50%;
  margin: 46px auto 0 205px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    width: 125px;
    height: 27px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 454px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -5px;
    margin-left: 148px;
  }

  .u-section-5 .u-image-6 {
    margin-left: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 348px;
  }

  .u-section-5 .u-image-4 {
    margin-left: 75px;
  }

  .u-section-5 .u-image-6 {
    margin-left: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 783px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 783px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 493px;
  }
}.u-section-6 {
  background-image: none;
  min-height: 1215px;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 765px;
  margin: 473px auto 60px calc(((100% - 1140px) / 2) + 188px);
}

.u-section-6 .u-image-1 {
  min-height: 497px;
  background-image: url("images/pexelsphoto3551227.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 8.125rem;
  font-weight: 700;
  margin: 0 -28px 0 -186px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 164px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-6 .u-text-2 {
  margin-top: 0;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 159px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 538px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.6875rem;
  font-style: normal;
  line-height: 1.6;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-style: normal;
  margin: 20px 96px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 10px 62px 10px 61px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2) + 175px);
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 1px;
    margin-left: -235px;
  }

  .u-section-6 .u-btn-1 {
    width: 125px;
    height: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 803px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-image-1 {
    min-height: 936px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-image-1 {
    min-height: 702px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 224px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 385px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-image-1 {
    min-height: 442px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 141px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 411px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 728px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 45px 66px 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 40px auto 45px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 546px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding-bottom: 20px;
}

.u-section-7 .u-image-1 {
  height: 416px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  margin: 30px 20px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 567px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding-bottom: 20px;
}

.u-section-7 .u-image-2 {
  width: 320px;
  height: 392px;
  margin: 20px auto 0 20px;
}

.u-section-7 .u-text-3 {
  font-style: italic;
  margin: 17px 20px 0;
}

.u-section-7 .u-layout-cell-3 {
  background-image: none;
  min-height: 546px;
}

.u-section-7 .u-container-layout-3 {
  padding-bottom: 20px;
}

.u-section-7 .u-image-3 {
  height: 416px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  font-style: italic;
  margin: 30px 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    height: 343px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-2 {
    width: 300px;
    height: 368px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin: 30px 16px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-image-3 {
    height: 343px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-2 {
    width: 227px;
    height: 278px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-3 {
    height: 263px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-image-1 {
    height: 592px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-image-3 {
    height: 592px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    height: 373px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-image-3 {
    height: 373px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 373px;
}

.u-section-8 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  margin: 60px 400px 0 0;
}

.u-section-8 .u-text-2 {
  line-height: 1.6;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 200px;
  }

  .u-section-8 .u-btn-1 {
    width: 125px;
    height: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 921px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 386px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-9 .u-icon-1 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 48px;
  width: 48px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  margin: 19px 88px 0 30px;
}

.u-section-9 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 31px auto 0 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  margin: 20px 388px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 345px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-form-1 {
  margin: 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
}

.u-section-9 .u-image-1 {
  min-height: 345px;
  background-image: url("images/pexelsphoto.jpg");
  background-position: 72.37% 50%;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-layout-cell-4 {
  min-height: 345px;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-9 .u-text-4 {
  margin-top: 0;
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-9 .u-layout-cell-5 {
  min-height: 345px;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-9 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-9 .u-image-2 {
  min-height: 345px;
  background-image: url("images/53e0d046495aa814f6da8c7dda79367d1d38d6ed5b586c4870277cdd9f49cc59bd_1280.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px;
}

.u-section-9 .u-layout-wrap-2 {
  width: 404px;
  margin: -654px auto 60px 296px;
}

.u-section-9 .u-layout-cell-7 {
  min-height: 271px;
}

.u-section-9 .u-container-layout-7 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    height: 25px;
    margin-right: 18px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 288px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-9 .u-image-1 {
    min-height: 284px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 284px;
  }

  .u-section-9 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-layout-cell-5 {
    min-height: 284px;
  }

  .u-section-9 .u-btn-2 {
    width: 125px;
    height: 27px;
  }

  .u-section-9 .u-image-2 {
    min-height: 284px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 178px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-image-1 {
    min-height: 435px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-9 .u-image-2 {
    min-height: 435px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2033px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    min-height: 653px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    min-height: 653px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-wrap-2 {
    margin-left: 136px;
  }

  .u-section-9 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
  }

  .u-section-9 .u-form-group-1 {
    width: 100%;
  }

  .u-section-9 .u-form-group-2 {
    width: 100%;
  }

  .u-section-9 .u-form-group-3 {
    width: 100%;
  }

  .u-section-9 .u-form-group-4 {
    width: 100%;
  }

  .u-section-9 .u-image-1 {
    min-height: 411px;
  }

  .u-section-9 .u-image-2 {
    min-height: 411px;
  }

  .u-section-9 .u-layout-wrap-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-9 .u-layout-cell-7 {
    min-height: 456px;
  }
}